<section class="pt-16" id="inicio">
  <div>
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="/me.jpg"
        class="w-56 mx-10 max-w-sm rounded-lg shadow-2xl sm:w-72"
      />
      <div class="lg:ml-20">
        <p class="py-2 font-semibold text-xl">Hola, soy</p>
        <h1 class="text-5xl font-bold">Gregory Vicent</h1>
        <p class="py-6 font-semibold text-xl">Desarrollador Web Full Stack</p>
        <a class="btn btn-accent" href="../../public/pdf/Gregory_Vicent_CV_2024.pdf" target="_blank">Descargar CV</a>
      </div>
    </div>
  </div>
</section>
