---
import PortfolioCard from "../PortfolioCard.astro";
---

<section class="pt-16" id="proyectos">
  <div>
    <h2>Proyectos</h2>
    <div class="flex justify-center flex-wrap gap-8">
      <PortfolioCard
        title="PeekAll.com"
        liveLink="https://peek-all.studio.site/"
        githubLink=""
        description="Start up enfocada en conectar deportistas con coaches."
        img="/portfolio/peekall.png"
      />

      <PortfolioCard
        title="PeekAll.com"
        liveLink="https://gregoryvicent.com"
        githubLink="https://github.com/gregoryvicent/gregoryvicent.com.v3"
        description="Proyecto de sitio web personal con funcionalidad de portafolio profesional."
        img="/portfolio/myweb.png"
      />

      <!-- <PortfolioCard
        title="PeekAll.com"
        liveLink="https://peek-all.studio.site/"
        githubLink=""
        description=""
        img="/portfolio/peekall.png"
      /> -->
    </div>
  </div>
</section>
