---
import TestimonialCard from "../TestimonialCard.astro";
---

<section class="pt-16" id="testimonios">
  <div>
    <h2>Testimonios</h2>
    <div class="-my-16">
      <TestimonialCard
        content="Gregory ha entendido perfectamente el trabajo y ha sido muy agil mostrando el resultado del trabajo, volveré a trabajar con el sin duda. Además antes de la entrega me ha enseñado un video mostrando el resultado del trabajo, muy util."
        linkOrigin="https://es.fiverr.com/gregoryvicen"
        author="Triquini, España"
      />
<TestimonialCard
        content="Hizo un gran trabajo, muy recomendable."
        linkOrigin="https://www.freelancer.com/u/GregoryVicent"
        author="Dhruval K., Canada"
      />
      <TestimonialCard
        content="Excelente persona con quien trabajar, entregó todo según lo acordado y más. Siempre respondió rápido y educado. Recomiendo a Gregory a cualquiera que necesite ayuda con los servicios web."
        linkOrigin="https://www.freelancer.com/u/GregoryVicent"
        author="Johanna Anneli, Suecia"
      />
      
    </div>
  </div>
</section>
