<section class="mt-40" id="youtube">
  <div class="w-full z-40">
    <h2>Youtube</h2>
    <div class="flex flex-col justify-center items-center gap-y-10 mt-10">
      <iframe
        class="w-[300px] h-[190px] sm:w-[560px] sm:h-[315px]"
        src="https://www.youtube.com/embed/mtGjnqtiGN4?si=oc55mcMWsHf4prsh"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <iframe
        class="w-[300px] h-[190px] sm:w-[560px] sm:h-[315px]"
        src="https://www.youtube.com/embed/qSyh-30NqAs?si=VcejXaJL_F5KquqX"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <iframe
        class="w-[300px] h-[190px] sm:w-[560px] sm:h-[315px]"
        src="https://www.youtube.com/embed/1vDdFoorA74?si=3z2EBLh9nJFdx0zc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <a
        class="btn btn-secondary"
        href="https://youtube.com/@GregoryVicent"
        target="_blank"
        rel="nofollow"
        >Visítame en Youtube <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-youtube"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
          ></path><path d="M10 9l5 3l-5 3z"></path></svg
        ></a
      >
    </div>
  </div>
</section>
