<header class="fixed w-screen z-50">
  <div class="navbar bg-base-100 sm:px-20 md:px-32 lg:px-40">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-xl bg-base-300 rounded-box w-52"
        >
          <li><a href="#proyectos">Proyectos</a></li>
          <li><a href="#experiencia">Experiencia</a></li>
          <li><a href="#testimonios">Testimonios</a></li>
          <li><a href="#youtube">Youtube</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </div>
      <a href="#inicio" class="btn btn-ghost text-xl">Gregory Vicent</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li><a href="#testimonios">Testimonios</a></li>
        <li><a href="#youtube">Youtube</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="navbar-end gap-2">
      <!-- <Moon /> -->
      <img id="theme-image" src="/icons/Moon.svg" alt="Icon Sun" />
      <input
        id="theme-controller"
        type="checkbox"
        value="dark"
        class="toggle theme-controller"
      />
    </div>
  </div>
</header>

<script>
  const themeController = document.getElementById("theme-controller");
  const themeImage = document.getElementById("theme-image");

  themeController?.addEventListener("click", (e) => {
    const target = e.target as HTMLButtonElement

    if (target.value === "dark") {
      target.value = "light";
      themeImage?.setAttribute("src", "/icons/Sun.svg");
    } else {
      target.value = "dark";
      themeImage?.setAttribute("src", "/icons/Moon.svg");
    }
  });
</script>
