---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Soy Gregory Vicent, tu programador web de confianza y este es mi portafolio profesional. Un pequeño espacio en internet donde mostrar mi los pasos de mi carrera como programador full stack." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="relative">
      <Header />
    </div>
    <main class="px-10 sm:px-20 md:px-28 lg:px-40">
      <slot />
    </main>
		<Footer />
  </body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		overflow-x: hidden;
	}

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

	@media(min-width: 640px) {
		h2 {
			font-size: 2rem;
		}
	}
</style>
